.profile__edit-button {
  background-image: url(../../../image/Edit_Button.svg);
  background-color: black;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-top: 16px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear;
}

@media (max-width: 320px) {
  .profile__edit-button {
    position: absolute;
    z-index: 50;
    width: 18px;
    height: 18px;
    top: 35px;
    right: -29px;
    margin: 0;
    background-image: url(../../../image/Edit_Button1.svg);
  }
}