.popup__input {
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  border: none;
  margin-top: 28px;
}

.popup__input:first-child {
  margin-top: 45px;
}

.popup__input:invalid {
  border-bottom: solid 1px #FF0000;
}

.popup__input:valid {
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

@media (max-width: 720px) {
  .popup__input {
    margin-top: 32px;
    line-height: 24px;
  }
  .popup__input:first-child {
    margin-top: 65px;
    line-height: 30px;
  }
}
