.popup__container {
  padding: 0 36px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 720px) {
  .popup__container {
    padding: 0 22px;
  }
}