.popup__submit-button {
  min-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 720px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
  }
}