.popup__submit-button {
  min-height: 50px;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  margin-top: 48px;
  margin-bottom: 37px;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear;
}

@media (max-width: 720px) {
  .popup__submit-button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}