.popup__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  margin-top: 45px;
}

@media (max-width: 720px) {
  .popup__name {
    margin-top: 69px;
  }
}