.profile__add-button {
  background-image: url(../../../image/Add_Button.png);
  background-color: black;
  border: none;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 720px) {
  .profile__add-button {
    margin-top: 30px;
    background-image: url(../../../image/AddButton_320.png);
    width: 282px;
  }
}
