.profile__text {
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin-top: 11px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__text {
    margin-top: 11px;
  }
}

@media (max-width: 500px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}