.profile__info {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 300px;
}

@media (max-width: 720px) {
  .profile__info {
    display:block;
    align-items: center;
    margin-top: 25px;
    max-width: 230px;
  }
}